@import "{}/node_modules/antd/dist/antd.less";

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 100%;
    padding: 0 5px;
    &-content {
        height: 700px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
        .task-content {
            margin: 0 15px;
            height: auto;
            &-analytics {
                display: flex;
                justify-content: space-around;
                background: linear-gradient(
                    rgb(255, 255, 255) 0%,
                    rgb(217, 223, 255) 100%
                );
                border-radius: 5px;
                padding: 10px 0;
                margin-top: -38px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                span {
                    display: block;
                    text-align: center;
                }

                .analytics-count {
                    font-size: 1.3em;
                    font-weight: bold;
                }
                .analytics-text {
                    font-size: 1em;
                    color: #7d8597;
                    text-transform: capitalize;
                }
            }
            .dropdown-filter {
                margin-top: 15px;
                div.ant-select-selector {
                    background: linear-gradient(
                        rgba(24, 32, 79, 0.4) 0%,
                        rgba(24, 32, 79, 0.4) 100%
                    );
                    border: 1px solid rgb(255 255 255 / 20%);
                    color: #e8e8e8;
                    border-radius: 5px;
                    .ant-select-selection-placeholder {
                        font-size: 0.9em;
                    }
                }
                span.ant-select-arrow {
                    color: #e8e8e8;
                }
            }

            &-empty {
                min-width: 350px;
                padding-top: 70px;
                div.ant-empty-description {
                    color: #e8e8e8;
                }
            }

            &-list {
                overflow: auto;
                max-height: 460px;

                &-item {
                    margin: 15px 0;
                    padding: 8px 15px;
                    border-radius: 5px;
                    background: rgba(15, 14, 71, 0.3);
                    box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
                    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
                    &:hover {
                        background: rgba(68, 66, 178, 0.1);
                    }

                    &-status {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #7d8597;
                        text-transform: lowercase;
                        font-size: 1em;

                        &-title {
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;
                            &-circle {
                                content: " ";
                                display: inline-block;
                                margin-right: 10px;
                                width: 10px;
                                height: 10px;
                                -moz-border-radius: 7.5px;
                                -webkit-border-radius: 7.5px;
                                border-radius: 7.5px;
                            }
                        }
                        &-date {
                            font-size: 0.9em;
                            letter-spacing: 2px;
                        }
                    }

                    &-content {
                        &-title {
                            font-size: 1em;
                            font-weight: 500;
                            color: #fff;
                        }
                        div.ant-typography {
                            color: #7d8597;
                            font-size: 0.9em;
                            margin: 3px 0;
                        }
                    }
                    &-tags {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 0.8em;
                        font-style: italic;
                        &-title {
                            color: #7d8597;
                        }

                        .ant-switch {
                            background: linear-gradient(
                                rgba(99, 106, 150, 0.4) 0%,
                                rgba(182, 186, 214, 0.25) 100%
                            );
                        }

                        .ant-switch-checked {
                            background: #16db93;
                        }
                    }
                }
            }
        }
        .footer-info {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background: linear-gradient(
                209.21deg,
                rgb(94, 44, 141) 13.57%,
                rgb(211, 49, 137) 98.38%
            );

            &-author {
                font-size: 0.9em;
            }
        }
    }
}

.head-bar {
    color: #fff;
    height: 110px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(
        209.21deg,
        rgb(94, 44, 141) 13.57%,
        rgb(211, 49, 137) 98.38%
    );
    border-bottom: solid 2px #e8e8e8;
    padding: 20px 15px 15px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    &-title {
        font-size: 1.3em;

        &-text {
            margin: 0 10px;
            font-weight: 300;
        }
    }

    .task-action {
        .ant-btn {
            padding: 0;
            .anticon {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.task-drawer {
    div.ant-drawer-content {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-color: #1f1f47;
        .ant-drawer-header {
            color: #e8e8e8;
            border-bottom: none;
            background: linear-gradient(
                209.21deg,
                rgb(94, 44, 141) 13.57%,
                rgb(211, 49, 137) 98.38%
            );
            .ant-drawer-title {
                color: #e8e8e8;
            }
        }
    }

    .ant-input,
    .ant-picker {
        background: linear-gradient(
            rgba(24, 32, 79, 0.4) 0%,
            rgba(24, 32, 79, 0.4) 100%
        );
        border: 1px solid rgb(255 255 255 / 20%);
        color: #e8e8e8;
        border-radius: 5px;

        input,
        span.anticon {
            background: #1b1f49;
            color: #e8e8e8;
        }
        span.anticon-close-circle {
            color: #ef6351;
        }
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background: linear-gradient(
            rgba(24, 32, 79, 0.4) 0%,
            rgba(24, 32, 79, 0.4) 100%
        );
        border: 1px solid rgb(255 255 255 / 20%);
        border-radius: 5px;
        span.ant-select-selection-item {
            background-color: #e8f0fe;
        }
    }
    &-button {
        display: flex;
        justify-content: center;
        button:first-child {
            margin-right: 15px;
        }
    }

    &-deadline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-switch {
            background: linear-gradient(
                rgba(99, 106, 150, 0.4) 0%,
                rgba(182, 186, 214, 0.25) 100%
            );
        }
        label {
            margin: 0 10px;
            color: #e8f0fe;
        }
        .ant-switch-checked {
            background: #16db93;
        }
    }
}

.ant-drawer-top .ant-drawer-content-wrapper,
.ant-drawer-bottom .ant-drawer-content-wrapper {
    max-width: 420px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
